/* Global Rules */
:root {
    --mute-red: #86737a;
    --dark-mute-red: #2b2425;
    --white: whitesmoke;
}

* {
    font-family: "Montserrat", sans-serif;
}

body {
    position: absolute;
    margin: 0px;
    background-color: var(--white);
    font-size: 14px;
    color: var(--dark-mute-red);
}

/* Header Rules */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background-color: var(--mute-red);
    color: var(--white);
    font-weight: 200;
    text-transform: uppercase;
}

.name {
    min-width: 300px;
    font-weight: 100;
}

header nav {
    min-width: 200px;
}

.nav-link {
    color: var(--white);
    text-decoration: none;
    border-bottom: 1px solid var(--white);
    font-size: 20px;
}

.nav-link:hover {
    color: var(--dark-mute-red);
    border-color: var(--dark-mute-red);
    transition: ease 0.3s;
}

nav ul { 
    display: flex;
    padding: 0px;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    display: inline;
    padding-left: 30px;
}

/* Main Rules */
.container {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    padding: 50px 60px 25px 60px;
}

.category {
    width: 20%;
    border-right: 3px solid var(--mute-red);
}

.category-name {
    text-transform: uppercase;
    font-weight: 100;
    text-align: right;
    padding-right: 20px;
    font-size: 28px;
    margin-top: 16px;
}

.content {
    display: flex;
    width: 80%;
    padding: 0px 80px 0px 50px;
}

/* About Me Rules */
.bio {
    width: 60%;
    margin: 16px 30px 0px 0px;
}

.bio p {
    margin: 0px;
}

.selfie {
    width: auto;
    text-align: left;
    margin: 0px 0px;
}

.selfie img {
    position: relative;
    max-width: 225px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px var(--mute-red);
}

/* My Work Rules */
.work {
    flex-direction: column;
}

.card img {
    opacity: 1;
    transition: ease .8s;
    width: 100%;
    height: auto;
    display: block;
    backface-visibility: hidden;
}

.card-link {
    opacity: 0;
    transition: ease .8s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-link a {
    background-color: var(--mute-red);
    color: var(--white);
    padding: 20px;
}

.card {
    position: relative;
    border: 5px solid var(--mute-red);
}

.card:hover img {
    opacity: 0.35;
    transition: ease .8s;
}
  
.card:hover .card-link {
    opacity: 1;
    transition: ease .8s;
}


/* First presented project sizing */
.big {
    /* width: 70%; */
    max-width: 800px;
    height: 300px;
    overflow-y: hidden;
    margin-bottom: 25px;
}

.horiseon {
    width: 100%;
    height: auto;
}

/* Other presented project sizing  */
.small-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 810px;
}

.small {
    width: 47%;
    max-width: 392px;
    height: 150px;
    overflow-y: hidden;
    margin-bottom: 30px;
}

.animated-poem,
.placeholder {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}