/* Global Rules */
:root {
    --mute-red: #86737a;
    --dark-mute-red: #2b2425;
    --white: whitesmoke;
}

body {
    margin: 0px;
    background-color: var(--white);
}

/* Header Rules */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: var(--mute-red);
    color: var(--white);
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

header h1 {
    min-width: 300px;
    font-weight: 100;
}

header nav {
    min-width: 200px;
}

.nav-link {
    color: var(--white);
    text-decoration: none;
    border-bottom: 1px solid var(--white);
    font-size: 20px;
}

.nav-link:hover {
    color: var(--dark-mute-red);
    border-color: var(--dark-mute-red);
    transition: ease 0.3s;
}

nav ul { 
    display: flex;
    padding: 0px;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    display: inline;
    padding-left: 30px;
}

/* Breakpoint: 900px */